.wrapper {
    display: flex;
    margin-top: 20px;
}

.country_wrapper {
    padding-right: 30px;
}

.country_capital {
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}

.country_population {
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}

.country_capital--text {
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
}

.country_population--text {
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
}

.country_list {
    font-weight: 600;
    margin: 0;
}

.country_list--item {
    font-weight: 400;
    margin: 0;
}

.country_flag {
    height: auto;
    width: 640px;
}